<div class="gallery-page" style="height: 100%">
    <div class="gallery-page__list">
        <h1 class="gallery-page_title">Sedona</h1>
        <div class="image-wrapper">
            <img src="../../files/img/intro-triangle.png"/>
        </div>
    </div>
    <div class="gallery-page__item">
        <span class="gallery-page__description">Фото и видео</span>
        <p class="gallery-page__">
                Не можете решиться на путешествие из-за курса? Фотографии помогут вам забыть о политике и экономике.
        </p>
    </div>







    @@include(
    '../app-components/PhotoCard.html',
    {
    "img": "photo-1-desktop.jpg",
    "title": "неродные просторы",
    "description": "Автор фото: Борис",
    "count": "1350"
    })

    @@include(
    '../app-components/PhotoCard.html',
    {
    "img": "photo-2-desktop.jpg",
    "title": "Местная растительность",
    "description": "Автор фото: Сергей",
    "count": "143"
    })

    @@include(
    '../app-components/PhotoCard.html',
    {
    "img": "photo-3-desktop.jpg",
    "title": "Дорога на север",
    "description": "Автор фото: Петр",
    "count": "96"
    })

    @@include(
    '../app-components/PhotoCard.html',
    {
    "img": "photo-4-desktop.jpg",
    "title": "Мост дьявола",
    "description": "Автор фото: Антон",
    "count": "254"
    })

</div>





<!--@@include(-->
<!--'../app-components/AppInput.html',-->
<!--{-->
<!--"label": "телефон",-->
<!--"placeholder": "Введите телофон",-->
<!--"type": "number",-->
<!--"name": "phone",-->
<!--"icon": "twitter",-->
<!--"required": true,-->
<!--"mode": "column-mode"-->


<!--})-->

<!--@@include(-->
<!--'../app-components/AppInput.html',-->
<!--{-->
<!--"placeholder": "",-->
<!--"label": "телефон",-->
<!--"required": false,-->
<!--"mode": "row-mode"-->
<!--})-->

<!--@@include(-->
<!--'../app-components/AppInput.html',-->
<!--{-->
<!--"placeholder": "",-->
<!--"label": "телефон",-->
<!--"required": false,-->

<!--})-->