
.slide-container {
  display: flex;
  width: 100%;

}
.slider {
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  appearance: none;
  width: 100%;
  height: 3px;
  background: $white-30;



}
.slider::-webkit-slider-thumb {
  background: white;
  border-radius: 50px;
  cursor: pointer;
  width:10px;
  height: 10px;
  -webkit-appearance: none;
}

