@media (min-width: $screen-mobile) {
  .app-player {
    &__video {
      margin-bottom: 80px;

    }
    .video {
      height: 500px;
    }
  }
  .app-player__action {
    .slide-container{
      display: block;
    }

  }

}