@media (min-width: $screen-tablet) {
  .back {
    .intro {
      top: -70px;
      height: 70px;
    }
  }
  .photo {
    .advantage-item {
      padding: 0 40px;
    }
    .image-wrapper {
      width: 67%;
    }
  }
  .excellence {
    .advantage-item {
      width: 100%;
      padding: 0 40px;
    }
  }
  .advertising {
    padding: 60px 80px;
    gap: 60px;
    .advantage-item {

    }
  }
}