.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;


}
.photo {

  .advantage-item {
    padding: 0 30px;
    min-height: 190px;
    background: $primary-30;
    color: $white;
  }
  .image-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .bridge {
    object-fit: cover;
    height: 256px;
    width: 100%;
  }
}

.excellence {
  padding: 0 20px;
  background: $primary-10 ;
  .advantage-item {
    padding: 18px;

  }
  .advantage-item:not(:last-child) {
    border-bottom: 1px solid $black-30;
  }
}
.search {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 460px;

  h2 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;

    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    background: #5496bd;
  }
}
.advertising {
  .advantage-item {
    padding: 24px 20px;
  }
  .advantage-item__content {
    align-items: flex-start;
    text-align: left;
  }

}