<footer class="app-footer">
    <span class="hashtag">#visitsedona</span>
    <ul class="social">
        <li class="social__item">
            <a class="social__item__link" href="https://twitter.com/">
                @@include(
                './app-components/AppButton.html',
                {
                "icon": "twitter",
                "mode": "small"
                })
            </a>
        </li>
        <li class="social__item">
            <a class="social__item__link" href="https://ru-ru.facebook.com/">
                @@include(
                './app-components/AppButton.html',
                {
                "icon": "facebook",
                "mode": "small"
                })
            </a>
        </li>
        <li class="social__item">
            <a class="social__item__link" href="https://www.youtube.com/">
                @@include(
                './app-components/AppButton.html',
                {
                "icon": "youtube",
                "mode": "small"
                })
            </a>
        </li>
    </ul>
    <a class="logo-small" href="#">
        <span class="made-in">разработано
        </span>
        <svg width="27" height="34" class="logo-small__icon">
            <use xlink:href=#academy></use>
        </svg>
    </a>
</footer>