<footer class="app-footer">
    <span class="hashtag">#visitsedona</span>
    <ul class="social">
        <li class="social__item">
            <a class="social__item__link" href="https://twitter.com/">
                <svg width="24" height="24">
                    <use xlink:href=#twitter></use>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a class="social__item__link" href="https://ru-ru.facebook.com/">
                <svg width="24" height="24">
                    <use xlink:href=#facebook></use>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a class="social__item__link" href="https://www.youtube.com/">
                <svg width="24" height="24">
                    <use xlink:href=#youtube></use>
                </svg>
            </a>
        </li>
    </ul>
    <a class="logo-small" href="#">
        <span class="made-in">разработано
        </span>
        <svg width="27" height="34" class="logo-small__icon">
            <use xlink:href=#academy></use>
        </svg>
    </a>
</footer>