<header class="app-header">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>
    <a href="http://localhost:3002/" class="logo">
        <svg width="102" height="83" class="icon">
            <use xlink:href=#logo></use>
        </svg>
    </a>
    <nav class="nav-menu">
        <ul class="nav-menu__list">
            <li class="nav-menu__item">
                <a href="#">Главная
                </a>
            </li>
            <li class="nav-menu__item">
                <a href="">Фото и Видео
                </a>
            </li>
            <li class="nav-menu__item">
                <a href="">Форма отзыва
                </a>
            </li>
            <li class="nav-menu__item">
                <a href="">
                    Html academy
                </a>
            </li>
        </ul>
    </nav>
</header>
