.app-footer {
    gap: 38px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px;

  }
.social {
  display: flex;
  text-align: center;
  gap: 5px;

}

.logo-small {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $black;
}
.hashtag {
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  align-items: center;
  font-weight: bold;
}
.logo-small__icon {
  margin-left: 10px;
}
