body, h1, h2, p, {
  font-family: PTSans;
  margin: 0;
  padding: 0;
  }
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
.text-white {
  color: $white !important;
}
.text-bold {
  font-weight: bold;
}