$primary-10: #e5e5e5;
$primary-30: #81b3d2;
$primary-50: #669ec0;
$primary-70: #5496bd;
$white: rgba(255, 255, 255, 1);
$white-10: rgba(255, 255, 255, 0.1);
$white-30: rgba(255, 255, 255, 0.3);
$white-50: rgba(255, 255, 255, 0.5);
$black: rgb(0, 0, 0);
$black-30: rgba(0, 0, 0, 0.3);
$black-10: rgb(118, 100, 88)