<div class="photo-item">
    <img src=../../files/img/@@img class="photo-item__preview"/>
    <div class="wrapper">
        <div class="photo-item__wrapper">
            <h2 class="photo-item__title">@@title</h2>
            <p class="photo-item__description">@@description</p>
        </div>

        <div class="photo-item__like">
            @@include(
            './AppButton.html',
            {
            "icon": "like",
            "mode": "flat dense"

            })
            <span class="photo-item__count">@@count</span>
        </div>
    </div>



</div>
