<div class="sub-header">
    <div class="sub-header__wrapper">
        @@if ( context.currentPage) {
        <h2 class="sub-header__sub-title">welcome</h2>
        <span class="sub-header__discription">—  to the gorgeous  —</span>

        }
        <h1 class="sub-header__title">sedona</h1>
        @@if ( context.currentPage) {
        <p class="sub-header__discription text-white text-bold">"Because the grand canyon fabulous"</p>
        }
    </div>

    <img class="sub-header__footer" src="../../files/img/intro-triangle.png"/>
</div>
